*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container{
width: 100%;
min-height: 100vh;
background:linear-gradient(135deg, #6259a3,#0b1974  ) ;
padding: 10px;
}
.todo-c{
    
    width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px ;
    color: #002765;
   
}
.row{
    display: flex;
    justify-content: space-between;
    background: #edeef0;
    border-radius:30px;
    padding-left: 20px;
    margin-bottom: 25px ;
}
    
input{
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    padding: 10px;
   
}
button{
     border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(imagess/uncheckedi.png);
    background-position: center ;
    background-size: cover;
   top: 12px;
   left: 8px;
}
ul li.checked{
    color: #424141;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(imagess/checked.png);
}
ul li span{
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
}
